body {
  margin: 0;
  height: 100vh;
}

.test {
  border: 1px solid red;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movieContainer {
  height: 60vh;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.movieList {
  
}

.movieDetails {

}