body {
  margin: 0;
  height: 100vh;
}

.test {
  border: 1px solid red;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movieContainer {
  height: 70vh;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.movieList {
  overflow-y: scroll;
  /* list-style: none; */
}

.movieList li {
  margin: 5px 0;
}

.movieDetails {
  min-height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    'poster title'
    'poster details';
}

.title {
  grid-area: title;
}

.details {
  grid-area: details;
}

.poster {
  grid-area: poster;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}