body {
  margin: 0;
  height: 100vh;
}

.test {
  border: 1px solid red;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movieContainer {
  height: 60vh;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.movieList {
  overflow-y: scroll;
  /* list-style: none; */
}

.movieList li {
  margin: 5px 0;
}

.movieDetails {

}